source/index.pug
doctype html
html
	head
		title Hendrik Uken
		link(rel="stylesheet" href="screen.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300")
	body
		header.headroom
			.container
				a(href="")
					h1 Hendrik Uken
				a(href="")
					h2 Blog
		#main.container
			.about
				img(src="media/huken.png")
				p Hallo ich bin Hendrik Uken und bin 1 cooler Trompeterdude aus Oldenburg der einen echt großen Kopf hat. Den brauch ich ja auch um so gut Trompete zu Spielen, denn ich will der Allerbeste sein, so wie keiner vor mir war. Nie allein, blaß ich mit dir, ich kenne die Tonleita! Außerdem spiele ich in vielen nicen Assembles, also, nicht die von Avangers, sonder die kuhlen, mit coolen Musikmaschinen. Außerdem bin ich auch 1 Fan von cooler Technik, also dieses Zeug mit Schaltkreisen und so. Schule ist auch sehr wichtig, deswegen pack ich mir jeden morgen mein Essen selber, ganz ohne zu weinen. Ziemlich tough, oder? Aber das ist ja auch egal, das beste an mir ist ja eh dass ich die Texte von maltsbier.me korrigiere! Viel Spaß auf meiner Website!
			.br
			.kontakt
				h1 Kontakt
				table
					tr
						td Telefon
						td +49 (0) 163 468 96 33
					tr
						td eMail
						td huken00@gmail.com
					tr
						td Straße
						td Schaumkrautweg 65
					tr
						td Ort
						td 26135 Oldenburg
					tr
						td Land
						td Deutschland
	script(src="headroom.js")
	script(src="scripts.js")

public/index.html
<!DOCTYPE html><html><head><title>Hendrik Uken</title><link rel="stylesheet" href="screen.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300"></head><body><header class="headroom"><div class="container"><a href=""><h1>Hendrik Uken</h1></a><a href=""><h2>Blog</h2></a></div></header><div class="container" id="main"><div class="about"><img src="media/huken.png"><p>Hallo ich bin Hendrik Uken und bin 1 cooler Trompeterdude aus Oldenburg der einen echt großen Kopf hat. Den brauch ich ja auch um so gut Trompete zu Spielen, denn ich will der Allerbeste sein, so wie keiner vor mir war. Nie allein, blaß ich mit dir, ich kenne die Tonleita! Außerdem spiele ich in vielen nicen Assembles, also, nicht die von Avangers, sonder die kuhlen, mit coolen Musikmaschinen. Außerdem bin ich auch 1 Fan von cooler Technik, also dieses Zeug mit Schaltkreisen und so. Schule ist auch sehr wichtig, deswegen pack ich mir jeden morgen mein Essen selber, ganz ohne zu weinen. Ziemlich tough, oder? Aber das ist ja auch egal, das beste an mir ist ja eh dass ich die Texte von maltsbier.me korrigiere! Viel Spaß auf meiner Website!</p></div><div class="br"></div><div class="kontakt"><h1>Kontakt</h1><table><tr><td>Telefon</td><td>+49 (0) 163 468 96 33</td></tr><tr><td>eMail</td><td>huken00@gmail.com</td></tr><tr><td>Straße</td><td>Schaumkrautweg 65</td></tr><tr><td>Ort</td><td>26135 Oldenburg</td></tr><tr><td>Land</td><td>Deutschland</td></tr></table></div></div></body><script src="headroom.js"></script><script src="scripts.js"></script></html>
